<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/user/<%= user.id %>?method=put" method="post">
        <input type="text" placeholder="id" name="id" value="<%= user.id %>" />
        <input
          type="text"
          placeholder="name"
          name="name"
          value="<%= user.name %>"
        />
        <input
          type="text"
          placeholder="email"
          name="email"
          value="<%= user.email %>"
        />
        <input
          type="text"
          placeholder="password"
          name="password"
          value="<%= user.password %>"
        />
        <input type="submit" value="update" />
      </form>
    </div>
  </body>
</html>
